<style>
*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: darkcyan;
}

.container{
	width: 70%;
	margin: auto;
	height: 650px;
	background-color: white;
}

.judul {
	font-family: sans-serif;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 20px;
}

.isi{
	padding-left: 10px;
	text-align: justify;
	height: 700px;
}

a {
	text-decoration: none;
}
</style>